
<h1>  Register Players</h1>

<div *ngFor="let value of players; let i=index; trackBy:trackByFn">
    <input type="text" [(ngModel)]="players[i]" [placeholder]="['Contestant ' + i]" /><br/>
</div>
<div>
    <button (click)="registerContestants()">Register Contestants</button>
    <div *ngIf="message">
  <Label>{{message}}</Label>
</div>
</div>

<div>

    <button (click)="registerContestants()">Autofill 2 Players</button>
    <button (click)="registerContestants()">Autofill 4 Players</button>
    <button (click)="registerContestants()">Autofill 6 Players</button>
</div>
