
<h1>  Register Players</h1>
<div *ngIf="message">
    <Label>{{message}}</Label>
  </div>
<div *ngFor="let value of players; let i=index; trackBy:trackByFn">
    <input type="text" [(ngModel)]="players[i]" [placeholder]="['Contestant ' + i]" /><br/>
</div>
<br>

<div>
    <button (click)="registerContestants()">Register Contestants</button>
    
</div>
<br>

<div>

    <button (click)="autofill2()">Autofill 2 Players</button>
    <button (click)="autofill4()">Autofill 4 Players</button>
    <button (click)="autofill8()">Autofill 8 Players</button>
</div>
