.links, .links a {
  padding: 10px;
}

.links a.active {
  background-color: grey;
}

ol, ul {
  list-style-type: none;
  margin: 10px;
	width: 900px;
	font-family: sans-serif;
}

li {
  display:block;
	width:120px;
	float:left;
	margin-left:2px;
	
}


a{
  display:block;
	padding:3px;
	text-decoration:underline;
	background-color:#fff;
	color:#009;
}

li a:hover {
  background-color:#009;
	color:#fff;
}

