<p>brackets works!</p>
<h1> brackets component </h1>
<h2>Round number {{roundNumber}}</h2>
<div >
   
        <input type="radio" value=game1.player1 name = "game1" (click)="game1.setWinner(game1.player1)" required class="primary" ng-model="game1.playerWon" >{{game1.player1}}
        <input type="radio" value=game1.player2 name = "game1" (click)="game1.setWinner(game1.player2)" required ng-model="game1.playerWon" >{{game1.player2}}
   
</div>

<div *ngIf="game2.player1">
    <Label>Game 2</Label>
        <input type="radio" value=game2.player1 name = "game2" (click)="game2.setWinner(game2.player1)" class="primary" ng-model="game2.playerWon">{{game2.player1}}
        <input type="radio" value=game2.player2 name = "game2" (click)="game2.setWinner(game2.player2)" ng-model="game2.playerWon">{{game2.player2}}
    <br>
</div>

<div *ngIf="game3.player1">
    <Label>Game 3</Label>
        <input type="radio" value=game3.player1 name = "game3" (click)="game3.setWinner(game3.player1)" class="primary"  ng-model="game3.playerWon">{{game3.player1}}
        <input type="radio" value=game3.player2 name = "game3"  (click)="game3.setWinner(game3.player2)"  ng-model="game3.playerWon">{{game3.player2}}
    <br>
</div>

<div  *ngIf="game4.player1">
    <Label>Game 4</Label>
   
        <input type="radio" value=game4.player1 name = "game4"  (click)="game4.setWinner(game4.player1)"  class="primary" ng-model="game4.playerWon" >{{game4.player1}}
        <input type="radio" value=game4.player2 name = "game4"  (click)="game4.setWinner(game4.player2)" ng-model="game4.playerWon" >{{game4.player2}}
   
    <br>
</div>

<div>
    <button (click)="completeRound()">Complete Round </button>
    <div *ngIf="message">
  <Label>{{message}}</Label>
</div>